.voyanceGroupe {
	/* background: none repeat scroll 0 0 #ffffff; */
	/*border: 1px solid #e5e5e5;
    border-radius: 4px;
     width: 696px; 
	padding: 2px;*/
}

.voyanceUser {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #969696;
	border-radius: 4px;
	color: #616161;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	width:100%;
	padding: 10px;
}

@media screen and (min-width: 768px) { 
	.voyanceUser {
		height:260px;
	}
}

@media screen and (min-width: 1050px) { 
	.voyanceUser {
		height:190px;
	}
	.userFooter {
		bottom: 0px; position: absolute; width: 100%;"
	}	
}

.card_header{
	display:block;
	clear:both;
}
.card_footer{
	display:block;
	clear:both;
}

.voyanceUser:hover {
	background: none repeat scroll 0 0 #fafafa;
	border: 1px solid #333333;
}

div[class ^="card_"] {
	/*padding-top: 5px;*/
	text-align: center;
}

.card_title {
	color: #106ae6;
	display: inline-block;
	/*margin: 0 10px;*/
}

.card_phone{
	display: inline-block;
	margin: 0 10px;
}

.card_status{
	display: inline-block;
	margin: 0 10px;	
}

.card_image{
	display: inline-block;
	float: left;
	padding: 7px 0 0;
}

.voyanceImage {
	width: 100%;
	height: auto;
	/*max-height:70px;*/
    border-radius: 15px;
    box-shadow: 0 0 9px #444;	
    float:left;
}

.card_description{
    display: inline-block;
    float: right;
    height: 90px;
    overflow: hidden;
    width: 100%;
}

.card_description p{
	margin:0px
}

.available, .disponible {
	color: #35c604;
}

.offline, .ausente {
	color: #f87c08;
}

.callNumbre {
	color: #fdd751;
	font-family: Arial;
	font-weight: bold;
}

.voyanceInfo label {
	color: red;
	display: inline-block;
	font-weight: bold;
	width: 150px;
	margin-right : 5px ;
}

.voyanceInfo p {
	text-transform: lowercase;
	display: inline-block;
}

.voyanceInfo p::first-letter {
	text-transform: uppercase;
}